* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     /*outline: 1px solid red;*/
}

/* Grid */
.grid {
	max-width: 50em;
	margin: 0 auto;
}
.row {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.formrow {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item-left {
	padding-right: 1em;
}

/* Page styles */
body {
  font: 100% "Helvetica Neue", Arial, sans-serif;
}

footer {
	border-top: 2px solid darkred;
	text-align: center;
	font-size: .9em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer a {
	padding: 1.5em;
}

#header {
	border-bottom: 2px solid darkred;
}

#header h1 {
	text-align: center;
	font-family: 'Metal Mania', cursive;
}

.content {
	padding: 2rem 1rem;
}

.content-title {
	margin-top: 0;
}

/* Links */
a {
	text-decoration: none;
	color: darkred;
}

a:active, a:hover {
	text-decoration: underline;
}

li a {
	line-height: 48px;
}

.button {
	background-color: darkred;
	color: white;
	border-radius: 4px;
	border: 2px solid transparent;
	padding: 0.625em 0.25em;
	text-align: center;
	text-transform: uppercase;
	min-height: 48px;
	min-width: 48px;
}

.checkbox {
	margin: 9px;
}

/* Home page */
.home {
	text-align: center;
	padding: 2em 1em;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.description {
	margin: 1em auto;
}

#home-title {
	margin-bottom: 0;
}

#home-title-extra {
	margin-top: 0.5em;
}

@media print {
	body {
		font-size: 10pt;
	}
	li a {
		line-height: 1.4;
	}
}

/* Open Game License page */
.ogl {
	font: normal 100%/1.6 'Lato', sans-serif;
}

/* About page */
.about {
	font: normal 100%/1.6 'Lato', sans-serif;
}
.about li {
	padding: .2rem;
}
.about li > a {
	line-height: 1.6;
}
.about li > p {
	margin: .2em auto;
}

@media screen and (min-width: 900px){
	.about {
		font-size: 112.5%;
	}
	.about li {
		padding: .1rem;
	}
}
@media print {
	.about, .ogl {
		font-size: 10pt;
	}
	.about li {
		padding: 0;
	}
}

/* Monster selection */
#monster-list {
	list-style-type: none;
	margin: 0 auto;
}

/* Customisation options */
#templates {
	margin-bottom: 1em;
}

/* Monster page */
.searchbox {
	display: flex;
	justify-content: flex-end;
}

.search {
	border: 1px solid lightgrey;
  font-size: 90%;
  padding: 1em;
  flex-grow: 1;
}

#monster-name {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	flex-grow: 2;
}

#monster-search {
	flex-grow: 1;
}

/* Stat Blocks */
.profile {
	font: normal 100% 'Lato', sans-serif;
}

.profile-title, .section {
	font-size: 1.2em;
	text-transform: uppercase;
}

.profile-title {
	font-weight: bold;
	letter-spacing: 1px;
	background-color: darkred;
	color: white;
	margin: 5px 0 5px 0;
	padding: 2px 0 2px 5px;
}

.section {
	border-top: 1px solid darkred;
	border-bottom: 1px solid darkred;
	margin: 8px 0;
}

.flavor-text {
	font-style: italic;
}

.stat, .indented {
	line-height: 1.4;
	margin: 5px 0;
}
   	
.indented {
	text-indent: 25px;
}

.xp {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
}
	
.cr {
	text-align: right;
	padding: 0 5px 0 0;
}

.profile span.title-1 {
	font-weight: bold;
}

.profile span.title-2 {
	font-style: italic;
}

.profile span.title-3 {
	font-style: italic;
}

.profile span.magic {
	font-style: italic;
}

.profile table {
	width: 100%;
}

.profile td, .profile th {
	text-align: left;
	vertical-align: top;
}

.profile th {
	font-weight: bold;
}
