extends ../layout

block content
	p Select a monster and an advancement template.
	form(method="post")
		label
			div(class="label") Choose a monster
			select(name="monster")
				each val in monsters
					option= val
		label
			div(class="label") Choose a template
			select(name="template")
				each val in templates
					option= val