node_modules/
*.log
srdimport/test/testdata/work/

data/work/*
!data/work/edit-format.json
!data/work/bestiary1/
!data/work/bestiary2/
!data/work/bestiary3/
!data/work/bestiary4/

data/work/*/*
!data/work/*/edit/

data/work/*/edit/*
!data/work/*/edit/*.json

data/built/

build/test/testdata/create/built/
build/test/testdata/noedit/built/
build/test/testdata/nosrd/built/
build/test/testdata/update/repeat/built/
build/test/testdata/update/overwrite/built/database.json
build/test/testdata/update/remove/built/database.json
