node_modules/
*.log
srdimport/test/testdata/work/

data/work/*
!data/work/edit-format.json
!data/work/bestiary1/
!data/work/bestiary2/
!data/work/bestiary3/
!data/work/bestiary4/

data/work/*/*
!data/work/*/ignore.json
!data/work/*/edit/

data/work/*/edit/*
!data/work/*/edit/*.json

data/built/

build/test/testdata/create/output/
build/test/testdata/ignore/output/
build/test/testdata/update/output/database.json
