<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Monster Workshop</title>
</head>
<body>
	<div>
		<h1>Monster Workshop</h1>
	</div>

    {{{body}}}

</body>
</html>