<div class="home">
	<div>
		<h2 id="home-title">Template Calculator</h2>
		<p id="home-title-extra">for Pathfinder</p>
	</div>
	<div class="description">
		<p>Create interesting monsters fast: Pick a monster, pick a template and let us crunch the numbers.</p>
	</div>
	<a class="button" href="/advance">Try the demo</a>
</div>
