<div>
	<p>Welcome to the Monster Workshop!</p>
	<p>Here you can create custom monsters for your Pathfinder games.</p>
	</br>
	<p>This is an initial demo version. You will eventually be able to apply simple templates to a monster from any of the bestiaries.</p>
</div>
<div>
	<a href="/advance">What will it look like?</a>
<!--
	<a href="/advance">Try it now!</a>
-->
</div>