<form action={{postTo}} method="post">
	<h2>Customisation</h2>
	<div id="templates">
		<p>Select your templates:</p>
		<div>	
			<label>
				{{#if options.advanced}}
					<input class="checkbox" type="checkbox" name="advanced" checked>
				{{else}}
					<input class="checkbox" type="checkbox" name="advanced">
				{{/if}}
				Advanced
			</label>
		</div>
		<div>
			<label>
				{{#if options.giant}}
					<input class="checkbox" type="checkbox" name="giant" checked>
				{{else}}
					<input class="checkbox" type="checkbox" name="giant">
				{{/if}}
				Giant
			</label>
		</div>
		<div>
			<label>
				{{#if options.young}}
					<input class="checkbox" type="checkbox" name="young" checked>
				{{else}}
					<input class="checkbox" type="checkbox" name="young">
				{{/if}}
				Young
			</label>
		</div>
	</div>
	<div>
		<button class= "button" type="submit">Apply</button>
	</div>
</form>