/* Grid */
.grid {
	max-width: 960px;
	margin: 0 auto;
}
.row {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

/* Page styles */
body {
  font: 100% "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

#header {
	border-bottom: 2px solid DarkRed;
}

#header h1 {
	text-align: center;
}

/* Links */
a {
	text-decoration: none;
	color: DarkRed;
}

a:active, a:hover {
	text-decoration: underline;
}

/* Stat Blocks */
.profile-title, .section {
	font: normal 1.2em 'Lato', sans-serif;
	text-transform: uppercase;
}

.profile-title {
	font-weight: bold;
	letter-spacing: 1px;
	background-color: DarkRed;
	color: white;
	margin: 5px 0 5px 0;
	padding: 2px 0 2px 5px;
}

.section {
	border-top: 1px solid DarkRed;
	border-bottom: 1px solid DarkRed;
	margin: 8px 0;
}

.flavor-text {
	font-style: italic;
}

.stat, .indented {
	font: normal 1em 'Lato', sans-serif;
	line-height: 1.4;
	margin: 5px 0;
}
   	
.indented {
	text-indent: 25px;
}

.xp {
	font: normal 1.1em 'Lato', sans-serif;
	font-weight: bold;
	margin: 0;
}
	
.cr {
	text-align: right;
	padding: 0 5px 0 0;
}
