<div>
	<h2>Select Monster</h2>
	{{#if monsters}}
		<ul class="monster-list" title="Click on a monster to select it.">
			{{#each monsters}}
				<li><a href="{{this.url}}">{{this.name}}</a></li>
			{{/each}}
		</ul>
	{{else}}
		<p>No monster found</p>
	{{/if}}
</div>